.comments-container {
    box-shadow: 0 0 10px grey;
    padding: 12px;
    width: 300px;
    text-align: center;
    border-radius: 8px;
}

.comment {
    text-align: left;
}

.holder {
    min-height: 250px;
    max-height: 250px;
    overflow: auto;
}